<html>
	<head>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/index.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	
	<body>
		<div class="left">
		<% for(var i = 0; i < products.length; i++) {%>
			<div class="product-container border" name="<%=products[i].name%>">
				<h2>
					<%=products[i].name%>
				</h2>
				<div>
					<span>Price:</span>
					<span><%=products[i].price%></span>
				</div>
				<button productName="<%=products[i].name%>" class="js_add-to-cart">Add to Cart</button>
			</div>
		<% } %>
		</div>
		<div class="basket-container left border">
			<h2>Basket</h2>
			<div class="product-line-items">
				</div>
			<div>
			<button class="js_place-order hide">
				Place Order
			</button>
		</div>
</html>