<body>
	<h1>template</h1>
	<h2><%=param %></h2>
	<form action="/postExample" method="POST">
		<input name="email"/> <br/>
		<input name="firstName"/> <br/>
		<input name="lastName"/> <br/>
		<input name="submit" type="submit"/>
	</form>
</body>